:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #fff;
  --header-color: #384c5a;
  --primary-text: #333333;
  --very-cold-temperature: #2b6cc4;
  --cold-temperature: #5dadec;
  --normal-temperature: #f7b165;
  --hot-temperature: #f7956b;
  --very-hot-temperature: #ff4444;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
  margin: 0;
  height: 100vh;
}

/* Temperature Styles */

.very-cold {
  color: var(--very-cold-temperature);
}

.cold {
  color: var(--cold-temperature);
}

.normal {
  color: var(--normal-temperature);
}

.hot {
  color: var(--hot-temperature);
}

.very-hot {
  color: var(--very-hot-temperature);
}

/* Weather Data Styles */

/* .day-weather {
  background-image: url('./assets/day-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.night-weather {
  background-image: url('./assets/night-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Loader Styles */

.lds-ring {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 1rem;
  border: 8px solid #ddd;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ddd transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Weather Info Styles */

.background {
  fill: linear-gradient(90deg, #5936b4 0%, #362a84 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Search City Input Styles */

.input-login:focus {
  border: 2px solid #1da1f2;
  outline: none;
  padding: 35px 10px 15px 10px;
}

.input-login-semifocus {
  border-color: rgb(118, 118, 118);
  outline: none;
  padding: 35px 10px 15px 10px !important;
}

.input-login-semifocus ~ label {
  top: -15px;
  left: -25px;
  font-size: 16px;
  padding: 20px 40px 20px 5px;
}

.input-login:focus ~ label {
  top: -10px;
  left: 10px;
  font-size: 16px;
  padding: 20px 40px 20px 5px;
  color: #1da1f2;
}
