:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #e8f1f2;
  --header-color: #384c5a;
  --primary-text: #333333;
  --very-cold-temperature: #2b6cc4;
  --cold-temperature: #5dadec;
  --normal-temperature: #f7b165;
  --hot-temperature: #f7956b;
  --very-hot-temperature: #ff4444;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
  margin: 0;
  height: 100vh;
}

/* Temperature Styles */

.very-cold {
  color: var(--very-cold-temperature);
}

.cold {
  color: var(--cold-temperature);
}

.normal {
  color: var(--normal-temperature);
}

.hot {
  color: var(--hot-temperature);
}

.very-hot {
  color: var(--very-hot-temperature);
}
